<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <application
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IPA_Board">

        <service android:name=".ime.RimeService" android:exported="false" android:process=":rime" />
        <service android:name=".ime.MozcService" android:exported="false" android:process=":mozc" />
        <service android:name=".ime.EnglishService" android:exported="false" android:process=":english" />
        <service android:name=".ime.SemanticService" android:exported="false" android:process=":semantic" />
        <service android:name=".ipa.IpaService" android:exported="false" android:process=":ipa" />
        <service android:name=".ipa.IpaValidationService" android:exported="false" android:process=":ipa_check" />

        <service
            android:name=".IpaBoardService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:exported="true">

            <intent-filter>
                <action android:name="android.view.InputMethod"/>
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method"
                />
            <!--
            android:directBootAware="true"
            -->
        </service>

        <receiver
            android:name=".clipboard.SmsOtpReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.IPA_Board.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".EngineManagementActivity"
            android:label="Engine Management"
            android:theme="@style/Theme.IPA_Board.NoActionBar"
            android:exported="false" />

        <activity
            android:name=".IpaEngineManagementActivity"
            android:label="@string/ipa_management_title"
            android:theme="@style/Theme.IPA_Board.NoActionBar"
            android:exported="false" />

        <activity
            android:name=".KeyboardPageActivity"
            android:label="Keyboard Management"
            android:theme="@style/Theme.IPA_Board.NoActionBar"
            android:exported="false" />

        <activity
            android:name=".ShortcutManagerActivity"
            android:label="Shortcut Management"
            android:theme="@style/Theme.IPA_Board.NoActionBar"
            android:exported="false" />

        <activity
            android:name=".EmojiManagerActivity"
            android:label="Emoji Management"
            android:theme="@style/Theme.IPA_Board.NoActionBar"
            android:exported="false" />

        <activity
            android:name=".kaomoji.KaomojiManagerActivity"
            android:label="顔文字 Management"
            android:theme="@style/Theme.IPA_Board.NoActionBar"
            android:exported="false" />

        <activity
            android:name=".ClipboardManagerActivity"
            android:label="Clipboard Management"
            android:theme="@style/Theme.IPA_Board.NoActionBar"
            android:exported="false" />

    </application>

</manifest>
